## Key Dates
In order to fully analyse the risk and rewards of this stock, we have prepared a collection of **Key Dates** in compliance with the firm's protocols.

In [10]:
import pandas as pd

df = pd.read_csv("DASH_A1.csv")
df['Date'] = pd.to_datetime(df['Date'], dayfirst=True)
df.sort_values('Date', inplace=True)
df.reset_index(drop=True, inplace=True)
df

           Date       Close        High         Low        Open      Volume
0    2020-12-09  189.509995  195.500000  163.800003  182.000000  25373700.0
1    2020-12-10  186.000000  187.695007  172.636002  179.710007         NaN
2    2020-12-11  175.000000  182.000000  168.250000  176.520004   4760600.0
3    2020-12-14  160.000000  170.000000  151.199997  169.100006   7859600.0
4    2020-12-15  158.889999  161.419998  153.759995  157.100006   5017000.0
...         ...         ...         ...         ...         ...         ...
1179 2025-06-09  217.490005  219.830002  216.955002  218.029999   2710300.0
1180 2025-06-10  214.970001  219.210007  210.927002  216.589996   3916700.0
1181 2025-06-11  217.800003  219.529999  212.240005  214.184998   3091500.0
1182 2025-06-12  216.600006  219.419998  215.675003  218.080002   2510400.0
1183 2025-06-13  218.119995  218.299896  213.000000  214.190002    616326.0

[1184 rows x 6 columns]

Prior to any analysis, we must first create a few crucial columns of data required. Below, we create the 'Daily Return' and 'Volatility' columns in order to identify momentary **surges** and **drops** in prices and volume and annual trends.

In [2]:
df["Daily Return"] = df["Close"].pct_change() 
df["Volatility"] = df["Daily Return"].rolling(window=20).std() 
df["Year"] = df["Date"].dt.year 
df = df.dropna(subset=["Daily Return", "Volatility"])

/tmp/ipykernel_1773/573983422.py:1: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  df["Daily Return"] = df["Close"].pct_change()

As a recent IPO, **volatility** is of particular interest in our analysis. Below, you will find the dates with the highest volatility.

In [3]:
highest_vol = df.loc[df.groupby("Year")["Volatility"].idxmax(), ["Year", "Date", "Volatility"]] #For every year, we find the highest volatilty date and value.
highest_vol.columns = ["Year", "Highest Volatility Date", "Highest Volatility Value"] #We assign the column names.
print(highest_vol)

      Year Highest Volatility Date  Highest Volatility Value
113   2021              2021-05-19                  0.067188
389   2022              2022-06-01                  0.080631
581   2023              2023-02-23                  0.047312
958   2024              2024-08-05                  0.033216
1147  2025              2025-04-24                  0.047637

We can see from these values that volatility spikes have trended down over the past five years, signalling a gradual stabilisation of the equity.

This trend is further echoed in the annual price surges and drops, where drops saw a reduction of 40% and surges reduced by 37.8% in magnitude.

In [4]:
largest_surge = df.loc[df.groupby("Year")["Daily Return"].idxmax(), ["Year", "Date", "Daily Return"]] #For every year, we find the highest surge date and value.
largest_surge.columns = ["Year", "Largest Surge Date", "Largest Surge Return"] #We assign the column names.
print(largest_surge)

      Year Largest Surge Date  Largest Surge Return
110   2021         2021-05-14              0.221491
333   2022         2022-03-16              0.134512
759   2023         2023-11-02              0.156653
957   2024         2024-08-02              0.083457
1136  2025         2025-04-09              0.137738

In [5]:
largest_drop = df.loc[df.groupby("Year")["Daily Return"].idxmin(), ["Year", "Date", "Daily Return"]]
largest_drop.columns = ["Year", "Largest Drop Date", "Largest Drop Return"]
print(largest_drop)

      Year Largest Drop Date  Largest Drop Return
51    2021        2021-02-22            -0.135457
374   2022        2022-05-11            -0.131621
578   2023        2023-02-17            -0.075946
890   2024        2024-05-02            -0.103170
1132  2025        2025-04-03            -0.080634

Furthermore we find from the following **Volume** analysis that greater market participation can be observed over the past five years, spiking heavily in 2025 with over 73 million stocks traded in one day.

In [6]:
highest_volume = df.loc[df.groupby("Year")["Volume"].idxmax(), ["Year", "Date", "Volume"]] #For every year, we find the highest volume date and value.
highest_volume.columns = ["Year", "Highest Volume Date", "Highest Volume"] #We assign the column names.
print(highest_volume)

      Year Highest Volume Date  Highest Volume
62    2021          2021-03-09      20400000.0
315   2022          2022-02-17      47405700.0
790   2023          2023-12-15      30556000.0
890   2024          2024-05-02      22134800.0
1123  2025          2025-03-21      73637400.0

Stock price saw a tumultous downward fluctuation but has recovered from the losses observed between and 2024. The **highest** and **lowest** annual stock price reflects this and is likely due to the uncertainty around the company following the end of COVID-19 lockdowns.

In [7]:
highest_high = df.loc[df.groupby("Year")["High"].idxmax(), ["Year", "Date", "High"]] 
highest_high.columns = ["Year", "Highest High Date", "Highest High Value"]
lowest_low = df.loc[df.groupby("Year")["Low"].idxmin(), ["Year", "Date", "Low"]]
lowest_low.columns = ["Year", "Lowest Low Date", "Lowest Low Value"]
print(highest_high)
print(lowest_low)

      Year Highest High Date  Highest High Value
248   2021        2021-11-15          257.250000
289   2022        2022-01-12          152.494995
786   2023        2023-12-11          103.980003
1057  2024        2024-12-17          181.779999
1178  2025        2025-06-06          220.880005
      Year Lowest Low Date  Lowest Low Value
109   2021      2021-05-13        110.129997
494   2022      2022-10-24         41.365002
549   2023      2023-01-06         45.931999
802   2024      2024-01-04         93.330002
1134  2025      2025-04-07        155.399994

When looking at the **Open** and **Close** prices of each year, we see that our prior observation is confirmed. Stock prices opened and closed strongly in 2021, but dipped throughout 2022 - 2024. The trend is reversed by the **Close** of 2024. This signals strong confidence in the company's reinvention and renewed corporate strategy following the sharp decline in usage in the early post-Covid years.

In [8]:
annual_open = df.groupby("Year").first().reset_index()[["Year", "Open"]]
annual_open.columns = ["Year", "Annual Open Price"]
annual_close = df.groupby("Year").last().reset_index()[["Year", "Close"]]
annual_close.columns = ["Year", "Annual Close Price"]
print(annual_open)
print(annual_close)

   Year  Annual Open Price
0  2021         140.000000
1  2022         149.610001
2  2023          49.980000
3  2024          97.800003
4  2025         168.789993
   Year  Annual Close Price
0  2021          148.899994
1  2022           48.820000
2  2023           98.889999
3  2024          167.750000
4  2025          218.119995

To summarise our **Key Dates** findings, we have merged all of our aforementioned data sets in the following table.

In [9]:
key_dates_df = highest_vol \
    .merge(largest_surge, on="Year") \
    .merge(largest_drop, on="Year") \
    .merge(highest_volume, on="Year") \
    .merge(highest_high, on="Year") \
    .merge(lowest_low, on="Year") \
    .merge(annual_open, on="Year") \
    .merge(annual_close, on="Year")

key_dates_df

,Year,Highest Volatility Date,Highest Volatility Value,Largest Surge Date,Largest Surge Return,Largest Drop Date,Largest Drop Return,Highest Volume Date,Highest Volume,Highest High Date,Highest High Value,Lowest Low Date,Lowest Low Value,Annual Open Price,Annual Close Price
0,2021,2021-05-19,0.067188,2021-05-14,0.221491,2021-02-22,-0.135457,2021-03-09,20400000.0,2021-11-15,257.250000,2021-05-13,110.129997,140.000000,148.899994
1,2022,2022-06-01,0.080631,2022-03-16,0.134512,2022-05-11,-0.131621,2022-02-17,47405700.0,2022-01-12,152.494995,2022-10-24,41.365002,149.610001,48.820000
2,2023,2023-02-23,0.047312,2023-11-02,0.156653,2023-02-17,-0.075946,2023-12-15,30556000.0,2023-12-11,103.980003,2023-01-06,45.931999,49.980000,98.889999
3,2024,2024-08-05,0.033216,2024-08-02,0.083457,2024-05-02,-0.103170,2024-05-02,22134800.0,2024-12-17,181.779999,2024-01-04,93.330002,97.800003,167.750000
4,2025,2025-04-24,0.047637,2025-04-09,0.137738,2025-04-03,-0.080634,2025-03-21,73637400.0,2025-06-06,220.880005,2025-04-07,155.399994,168.789993,218.119995